.subtitle_reviews {
    margin-bottom: 60px;
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 100px;
}

.reviews_text {
    margin-top: 40px;
    margin-bottom: 80px;
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.reviews_border {
    max-width: 170px;
    max-height: 0px;
    left: 671px;
    top: 3676px;
    border: 0.5px solid #EC7979;
}

.reviews {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.container_review_1 h5,
.container_review_2 h5,
.container_review_3 h5 {
    position: relative;
    border: 0px solid;
    max-width: 370px;
    max-height: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #E2E2E2;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-family: 'Raleway';
    font-weight: normal;
    font-size: 18px;
    color: #86878B;

}

.container_review_1 h5:before,
.container_review_2 h5:before,
.container_review_3 h5:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-style: solid;
    border-width: 20px 15px 0;
    border-color: #E2E2E2 transparent transparent transparent;
}

.review_1,
.review_2,
.review_3 {
    margin-left: 25px;
}

.review_3 {
    margin-right: 25px;
}


.manager__main {
    display: flex;
    align-items: center;
}

.manager_info {
    font-family: 'OpenSansBold';
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    margin-left: 25px;

    color: #000000;
}

.manager_info h5 {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.conteiner__2 {
    background-image: url(./background/bg_tablet.png);
    margin-top: 65px;
}

.text__footer {
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.text__footer h2 {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 50px;
    color: #FFFFFF;
}

.line__2 {
    min-width: 170px;
    max-height: 0px;
    left: 671px;
    top: 3676px;
    border: 0.5px solid #ffffff;
    margin-bottom: 10px;

}

.text__footer h5 {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;

    color: #FFFFFF;
}

.button {
    margin-top: 50px;
    border: 2px solid #FFFFFF;
    min-width: 370px;
    min-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'OpenSansSemiBold';
    font-size: 18px;
    text-transform: capitalize;
}

.button:hover {
    margin-top: 50px;
    border: 2px solid #EC7979;
    max-width: 370px;
    max-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'OpenSansSemiBold';
    font-size: 18px;
    text-transform: capitalize;
    color: #EC7979;
}

.button:active {
    margin-top: 50px;
    border: 2px solid #AB4949;
    background: #AB4949;
    max-width: 370px;
    max-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'OpenSansSemiBold';
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}


@media (max-width: 1024px) {

    .container_review_1 h5,
    .container_review_2 h5,
    .container_review_3 h5 {
        max-width: 317px;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 16px;
        font-size: 14px;
    }

    .review_1,
    .review_2,
    .review_3 {
        margin-left: 20px;
    }

    .manager_info {
        font-size: 18px;
        line-height: 33px;
        margin-left: 22px;
    }

    .manager_info h5 {
        font-size: 16px;
        line-height: 21px;
    }

    .subtitle_reviews {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .reviews_text {
        margin-top: 32px;
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 14px;
    }

    .text__footer h5 {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .text__footer h2 {
        font-size: 24px;
        line-height: 28px;
        margin-top: 50px;
        margin-bottom: 32px;

    }

    section {
        min-width: 989px
    }


    .conteiner__2 {
        min-width: 1024px;
    }

    #reviews {
        min-width: 1024px;
    }
}

@media (max-width: 320px) {

    #reviews {
        min-width: 320px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .title_review {
        max-width: 320px;
    }

    .subtitle_reviews {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .reviews_border {
        max-width: 134px;
    }

    .reviews_text {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .section_reviews{
        min-width: 288px;
    }

    .reviews {
        flex-direction: column;
        max-width: 288px;
    }

    .review_1, .review_2, .review_3 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .container_review_1 h5, .container_review_2 h5, .container_review_3 h5 {
        max-width: 288px;
        font-size: 14px;
    }

    .manager_info h4 {
        font-size: 14px;
        line-height: 19px;
    }

    .manager_info h5 {
        font-size: 13px;
        line-height: 15px;
    }

    .manager_pic_1 img, .manager_pic_2 img, .manager_pic_3 img{
        max-width: 57px;
    }

    .conteiner__2 {
        min-width: 320px;
        margin-top: 30px;
        background-image: url(./background/bg_mobile.png);
    }

    .line__2 {
        min-width: 134px;
    }
    
    .text__footer h5 {
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 6px;
        max-width: 288px;
    }

    .button {
        margin-top: 50px;
        min-width: 287px;
        min-height: 50px;
    }
}