.subtitle_reviews {
    margin-bottom: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 100px;
}

.reviews_text {
    margin-top: 40px;
	margin-bottom: 80px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.reviews_border {
    width: 170px;
    height: 0px;
    left: 671px;
    top: 3676px;
    border: 0.5px solid #EC7979;
}

.reviews {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.container_review_1 h5, .container_review_2 h5, .container_review_3 h5{
    position: relative;
    border: 0px solid;
    max-width: 370px;
    max-height: 180px;
	padding-top: 50px;
	padding-bottom: 50px;
    background: #E2E2E2;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
	
	font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
 
}

.container_review_1 h5:before, .container_review_2 h5:before, .container_review_3 h5:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-style: solid;
    border-width: 20px 15px 0;
    border-color: #E2E2E2 transparent transparent transparent;
    }

.review_1, .review_2, .review_3 {
	margin-left: 25px;
}

.review_3 {
	margin-right: 25px;
}


.manager__main {
    display: flex;
    align-items: center;
}

.manager_info {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;

    color: #000000;
	
	margin-left: 25px;
}

.manager_info h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.conteiner__2 {
    background-image: url('/img/bg.png');
    margin-top: 65px;
}

.text__footer {
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.text__footer h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 50px;
    color: #FFFFFF;
}

.line__2 {
    width: 170px;
    height: 0px;
    left: 671px;
    top: 3676px;
    border: 0.5px solid #ffffff;
    margin-bottom: 10px;

}

.text__footer h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;

    color: #FFFFFF;
}

.button {
    margin-top: 50px;
    border: 2px solid #FFFFFF;
    width: 370px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}

.button:hover {
    margin-top: 50px;
    border: 2px solid #EC7979;
    width: 370px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #EC7979;
}

.button:active {
    margin-top: 50px;
    border: 2px solid #AB4949;
    background: #AB4949;
    width: 370px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}