.social_bg {
	height: 140px;
	left: 0px;
	background: #F8EFEF;
	padding-left: 170px;
	display: flex;
	align-items: center;
}

h4 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
}

h4.title_social {
	text-transform: capitalize;
	color: #333333;
	margin: 0;
}

h5{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}

h5.text_social {
	line-height: 21px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #86878B;
}

.social_images {
	display: flex;
    align-items: center;
	margin-left: 50px;
}

.social_images img{
	margin-right:45px;
}

h2.subtitle{
	font-family: 'Raleway';
	font-style: normal;
	margin: auto;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	text-align: center;
	margin-bottom: 57px;
	margin-top:100px;
	color: #000000;
}

h5.subtitle_text {
    text-align: center;
    color: #86878B;
	margin-top: 40px;
}

.subtitle_border{
	border: 1px solid #EC7979;
	width: 170px;
	text-align: center;
    padding: 0;
	height: 0px;
}

.box {
	display: flex;
	margin-top: 110px;
	margin-bottom: 30px;
}

.box_1 {
    margin-left: 170px;
}

.icon {
	width: 66px;
	height: 66px;
	margin: auto;
    border: 1px solid #EC7979;
    border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 12px;
}

h4.title_icon {
	display: flex;
	margin-top: 77px;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-transform: capitalize;
	color: #000000;
}

h5.text_icon{
	line-height: 21px;
	margin-top: 46px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	
}

.box_2 {
    margin-left: 35px;
}

.box_3 {
    margin-left: 35px;
	margin-right: 170px;
}